# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/app/src/main/res/values/strings.xml
android/local.properties
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Project Assets
frontend/assets/emergency/*.mp3
frontend/assets/emergency/*.json
!frontend/assets/emergency/.gitkeep
